<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>URL Shortener</title>
</head>
<body>
<h1>URL 단축기</h1>
<form action="#" th:action="@{/shorten}" th:object="${urlShortenRequest}" method="post">
    <input type="text" id="url" name="url" placeholder="단축할 URL을 입력하세요" th:field="*{url}" required/>
    <div th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></div>
    <button type="submit">단축하기</button>
</form>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
</body>
</html>